/*font*/

@font-face {font-family: BoopasBlobs; src: url(../fonts/BoopasBlobs2.0-Regular.otf);}
@font-face {font-family: Cantarell; src: url(../fonts/Cantarell-Regular.ttf);}
@font-face {font-family: Cantarell; src: url(../fonts/Cantarell-Bold.ttf); font-weight: bold;}
@font-face {font-family: Cantarell; src: url(../fonts/Cantarell-Oblique.ttf); font-style:oblique}
@font-face {font-family: Cantarell; src: url(../fonts/Cantarell-BoldOblique.ttf); font-weight: bold; font-style: oblique;}
@font-face {font-family: jf-openhuninn; src: url(../fonts/jf-openhuninn-1.1.ttf); unicode-range: U+4E00–9FFF;}
body {font-family: Cantarell, jf-openhuninn, Verdana, sans-serif;}
h1, h2, h3, h4, h5, h6, blockquote, footer, #mainnav {font-family: BoopasBlobs, Cantarell, jf-openhuninn, Verdana, sans-serif;}

/*general theme*/

  


/*dropdown menu with tab support*/
#mainnav {
    position: fixed;
    top: 0;
    right: 0;
    margin: auto;
    width: 100%;
    background: #b7e0f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainnav ul {
    background: #b7e0f8;
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: auto;
}
  
#mainnav li {
    color: #000;
    background: #b7e0f8;
    display: block;
    float: left;
    padding: 10px;
    position: relative;
    transition-duration: 0.2s;
    min-width: 200px;
    text-align: center;
}
  
#mainnav li a {
    color: #000;
    text-decoration: none;
    font-size: 1.6em;
    padding: 20px;
}
  
#mainnav li:hover,
#mainnav li:focus-within {
    background: #e6f6ff;
    cursor: pointer;
}
  
#mainnav ul li ul {
    visibility: hidden;
    background: #b7e0f8;
    opacity: 0;
    min-width: 140px;
    position: absolute;
    transition: all 0.2s ease;
    margin-top: 10px;
    left: 0;
    display: none;
}
  
#mainnav ul li:hover > ul,
#mainnav ul li:focus-within > ul,
#mainnav ul li ul:hover,
#mainnav ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
    display: inline-block;
}
  
/*menu dropdown button*/
#mainnav li > a:after {
    content: " »";
}
#mainnav li > a:only-child:after {
    content: "";
}

/*mobile menu 'hamburger' button*/
#menubutton {
    width: 16px;
    height: 16px;
    position: fixed;
    top: 30px;
    right: 30px;
    margin: auto;
    border-radius: 50%;
    background: #77c8fa;
    box-shadow:
        0 0 0 5px rgb(191, 247, 191),
        0 0 0 15px #91d3fc;
    display: none;
}

#menu-btn {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    margin: auto;
    display: none;
}

/*main*/
body {
    margin-top: 76px;
    background: rgb(196, 240, 196);
    bottom: 0;
}

main {
    margin-left: 40px;
    margin-right: 40px;
}

.site-header {
    margin-left: 10px;
    margin-right: 10px;
}

/*bottom info area*/
#moreinfo {
    bottom: 60px;
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
    column-gap: 12px;
    grid-template-rows: auto;
    grid-template-areas: 
        "public-domain-declare buttomlogo contact-videos"
        ". . ."
        ". . .";
    grid-template-columns: 1fr 0.7fr 1fr;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}
#bottomlogo {
    grid-area: buttomlogo;
    margin-left: 0px;
    margin-top: 0px;
}

#public-domain-declare {
    text-align: justify;   
    grid-area: public-domain-declare;
}
#contact-videos {
    grid-area: contact-videos;
    text-align: center;
}

#contact-videos hr {
    width: 80%;
}



/*footer*/
footer {
    background: #d0ecfc;
    width: 100%;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    color: black;
    padding: 16px;
}

/*responsive*/
@media (max-width: 768px) {
    #mainnav li a {
        font-size: 1.2em;
    }
    #mainnav li {
        padding: 10px;
        min-width: 120px;
    }
    #mainnav ul li ul {
        min-width: 140px;
        margin-top: 10px;
    }    
    body {
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 60px;
    }
    main {
        margin-left: 20px;
        margin-right: 20px;
    }
    #moreinfo {
        bottom: 50px;
        font-size: 0.9em;
    }
    #public-domain-logo {
        width: 56px;
        height: auto;
    }
    #bottomlogo {
        width: 180px;
        height: auto;
        margin-top: 0;
    }
}
@media (max-width: 650px) {
    #moreinfo {
        grid-template-areas: 
            "public-domain-declare public-domain-declare public-domain-declare"
            "bottomlogo . contact-videos"
            ". . .";
        grid-template-columns: auto;
    }
    #bottomlogo {
        margin-left: 10vw;
    }
    #public-domain-declare {
        margin-right: 1em;
        margin-left: 1em;;
    }
}
@media (max-width: 460px) {
    body {
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 60px;
    }
    #mainnav li {
        padding: 2px;
    }
    #mainnav li a {
        padding: 2px;
        font-size: 0.8em;
    }
    #mainnav ul li ul {
        min-width: 100px;
        margin-top: 2px;
    }    
    #mainnav {
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 50px;
    }
    footer {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    footer a {
        padding: 4px;
    }
    #moreinfo {
        grid-template-areas: 
            "public-domain-declare"
            "bottomlogo"
            "contact-videos";
        grid-template-columns: auto;
    }

    #public-domain-declare {
        margin-right: 0.5em;
        margin-left: 0.5em;
    }

    #bottomlogo {
        margin-left: 0px;
        margin-top: 15px;
    }
}

/*mobile menu button responsive*/
@media only screen and (max-width: 460px) {    
    body {
        margin-top: 30px;
    }
    #menubutton {
        display: block;
        z-index: 99;
    }

    #menu-btn {
        display: block;
        opacity: 0.01;
        z-index: 100;
    }
    
    #menu-btn:checked ~ #mainnav,
    #menu-btn:checked ~ #mainnav ul li ul {
        visibility: visible; 
        opacity: 1;
    }
    #mainnav {
        padding: 0px;
        font-size: 1.2em;
        width: auto;
        visibility: hidden;
        top: 26px;
        right: 20px;
        min-width: 160px;
        background: #c4e5f8;
        border-color: #afddf8;
        border-style: solid;
        z-index: 200;
        box-shadow: 0 0 2px 10px rgba(0, 0, 255, .2);
    }
    #mainnav ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        height: auto;
        background: none;
    }
      
    #mainnav li {
        color: #000;
        background:none;
        display: block;
        float: none;
        position: relative;
        border-style: none;
        transition-duration: 0s;
        
    }
    #mainnav li a {
        color: #000;
        text-decoration: none;
        font-size: 1.4em;
        text-decoration: underline;
    }
    #mainnav ul li ul {
        visibility: hidden;
        background: none;
        opacity: 1;
        min-width: 200px;
        position: relative;
        left: 0;
        display: block;
        transition: none;
    }
    ul li ul li {
        clear: both;
        width: 100%;
        display: block;
        text-align: center;
    }

    #mainnav ul li ul a {
        font-size: 1.1em;
        text-decoration: none;
    }
   
    #mainnav ul li ul li:hover {
        background: rgb(206, 220, 247);
    }
    /*menu dropdown button*/
    #mainnav li > a:after {
    content: "";
    }
}
