/*font*/
@font-face {font-family: BoopasBlobs; src: url(../fonts/boopasblobs2.0-regular-webfont.woff) format('woff'); font-weight: normal; font-style: normal; font-display: swap;}
@font-face {font-family: Nunito; src: url(../fonts/nunito-regular-webfont.woff) format('woff');}
@font-face {font-family: Nunito; src: url(../fonts/nunito-bold-webfont.woff); font-weight: bold;}
@font-face {font-family: Nunito; src: url(../fonts/nunito-italic-webfont.woff); font-style: italic}
@font-face {font-family: Nunito; src: url(../fonts/nunito-bolditalic-webfont.woff); font-weight: bold; font-style: italic;}
/*@font-face {font-family: jf-openhuninn; src: url(../fonts/jf-openhuninn-11.woff); unicode-range: U+4E00–9FFF;}*/
body {font-family: Nunito, jf-openhuninn, sans-serif;}
h1, h2, h3, h4, h5, h6, blockquote, #foot, #mainnav {font-family: BoopasBlobs, Nunito, jf-openhuninn, Verdana, sans-serif;}
h1 {
  text-shadow: 2px 2px 2px #c4a2f0;
}
h2 {
  text-shadow: 2px 2px 2px #a2f0dc;
}

/*main*/
body {
  margin-top: 56px;
  background: rgb(196, 240, 196);
  bottom: 0;
}

main {
  width:90%;
  margin: auto;
  font-size: 120%;
}

@media only screen and (min-width: 1280px) {
  main {
    width: 1240px;
    margin: auto;
  }
}

@media (max-width: 800px) {
  body {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 60px;
  }
  main {
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  body {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 480px) {
  body {
    margin-top: 20px;
    margin: auto;
  }
}

/*colors*/
.pink {
  background: rgb(238, 224, 226);
}

.purple {
  background: #c3d6fa;
}

/*BLOCKS*/

/*Navigation*/
.toc {
  border-color: black;
  border-style: dotted;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  border-radius: 3%;
}

.toc h2 {
  text-align: center;
}
.toc a {
  color: black;
}

/*spacers*/
.hr-dotted {
  border-top: 6px dotted black;
  width: 6%;
}

.hr-spacer {
  visibility: hidden;
}

/*sections*/
.section-box {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 2%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: justify;
}

.blockquote {
  height: auto;
  padding: 6px;
  text-align: center;
  transition: padding 1s ease;
}
.blockquote a {
  color: black;
}
.blockquote:hover {
  font-size: 100%;
  padding: 12px;
}

/*media*/
.music {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*page specific blocks*/

/*homepage recent posts - mosaic - responsive*/
.archive-mosaic {
  column-count: 3;
  column-gap: 64px;
  padding-bottom: 64px;
}
@media (max-width: 1100px) {
  .archive-mosaic {
    column-count: 2;
    column-gap: 64px;
  }
}
@media (max-width: 740px) {
  .archive-mosaic {
    display: flex;
    flex-direction: column;
  }
}
.recent-post-mosaic {
  box-shadow: 0 0 3px 1px rgb(0, 0, 0);
  height: max-content;
  padding: 32px;
  transition: padding-bottom 0.2s linear;
  font-size: 140%;
  margin-bottom:64px;
  display: block;
  break-inside: avoid;
}

.recent-post-mosaic:hover {
  padding-bottom: 30px;
}
.recent-post-mosaic a {
  color: black;
  text-decoration-style: dotted;
}

.recent-post-img-mosaic {
  max-width:100%;
  height:auto;
}

/*homepage recent posts - responsive - grid*/
.archive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 32px;
  grid-auto-flow: dense;
  padding-bottom: 16px;
}
@media (max-width: 650px) {
  .archive-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
@media (max-width: 480px) {
  .archive-grid {
    display: flex;
    flex-direction: column;
  }
}
.recent-post-grid {
  box-shadow: 0 0 3px 1px rgb(0, 0, 0);
  height: 40vh;
  width: auto;
  padding: 6px;
  transition: height 0.2s linear;
  font-size: 140%;
}
.recent-post-grid:hover {
  height: 40.5vh;
  width: auto;
}
.recent-post-grid a {
  color: black;
  text-decoration-style: dotted;
}


/*HEADER & FOOTER*/

/*header*/
#title-logo {
  position: relative;
  top: 16px;
  border-radius: 50%;
  box-shadow: 0 0 4px #8892ec;
}
header h1 #logo-link:hover {
  box-shadow: 0px 0px 80px #a388ec;
  border-radius: 50%;
}
header a {
  text-shadow: 4px 4px 4px #8892ec;
  color: #000;
}
#site-title a {
  text-shadow: 0px 0px 2px #8892ec;
}
header {
  text-shadow: 0px 0px 2px #a2caf0;
}
a:hover {
  color: rgb(5, 81, 194) !important;
}

.site-header {
  margin-left: 10px;
  margin-right: 10px;
}

/*dropdown menu with tab support*/
#mainnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background: #b7e0f8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#mainnav ul {
  background: #b7e0f8;
  list-style: none;
  margin: 0;
  padding-left: 0;
  height: auto;
}
#mainnav li {
  color: #000;
  background: #b7e0f8;
  display: block;
  float: left;
  padding: 10px;
  position: relative;
  transition-duration: 0.2s;
  min-width: 200px;
  text-align: center;
}
#mainnav li a {
  color: #000;
  text-decoration: none;
  font-size: 1.6em;
  padding: 20px;
}
#mainnav li:hover,
#mainnav li:focus-within {
  background: #e6f6ff;
  cursor: pointer;
}
#mainnav ul li ul {
  visibility: hidden;
  background: #b7e0f8;
  opacity: 0;
  min-width: 140px;
  position: absolute;
  transition: all 0.2s ease;
  margin-top: 10px;
  left: 0;
  display: none;
}
#mainnav ul li:hover > ul,
#mainnav ul li:focus-within > ul,
#mainnav ul li ul:hover,
#mainnav ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
  display: inline-block;
}

/*menu dropdown button*/
#mainnav li > a:after {
  content: " »";
}
#mainnav li > a:only-child:after {
  content: "";
}

/*mobile menu 'hamburger' button + "menu" text*/
#menubutton {
  width: 16px;
  height: 16px;
  position: fixed;
  top: 30px;
  right: 30px;
  margin: auto;
  border-radius: 50%;
  background: #64a5fa;
  box-shadow:
  0 0 0 5px rgb(191, 247, 191),
  0 0 0 15px #599ffa;
  display: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 120%;
  text-shadow: 2px 2px 2px #e7f5dc;
  font-family: boopasblobs;
  text-indent: -2px;
}

#menu-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  margin: auto;
  display: none;
}

/*foot(er) info area*/
#moreinfo {
  bottom: 60px;
  display: grid;
  column-gap: 8px;
  grid-template-rows: auto;
  grid-template-areas:
  "public-domain-declare buttomlogo contact-videos"
  ". . ."
  ". . .";
  grid-template-columns: 1fr 0.6fr 1fr;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin: auto;
}
#bottomlogo {
  grid-area: buttomlogo;
  margin-left: 0px;
  margin-top: 0px;
}

#public-domain-declare {
  text-align: justify;
  grid-area: public-domain-declare;
  margin-left: 10px;
}
#contact-videos {
  grid-area: contact-videos;
  text-align: center;
}

#contact-videos hr {
  width: 80%;
}

/*foot(er) very bottom*/
#foot {
  background: #d0ecfc;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: -10px;
  border-radius: 4%;
}

#foot a {
  color: black;
  padding: 16px;
}

/*responsive header and footer*/
@media (max-width: 800px) {
  #mainnav li a {
    font-size: 1.2em;
  }
  #mainnav li {
    padding: 10px;
    min-width: 120px;
  }
  #mainnav ul li ul {
    min-width: 140px;
    margin-top: 10px;
  }
  #moreinfo {
    bottom: 50px;
    font-size: 0.9em;
    margin-left: 10px;
    margin-right: 10px;
  }
  #public-domain-logo {
    width: 56px;
    height: auto;
  }
  #bottomlogo {
    width: 180px;
    height: auto;
    margin-top: 0;
  }
}
@media (max-width: 650px) {
  #moreinfo {
    grid-template-areas:
    "public-domain-declare public-domain-declare public-domain-declare"
    "bottomlogo . contact-videos"
    ". . .";
    grid-template-columns: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  #bottomlogo {
    margin-left: 10vw;
  }
  #public-domain-declare {
    margin-right: 1em;
    margin-left: 1em;;
  }
}
/*mobile view*/
@media (max-width: 480px) {
  #mainnav li {
    padding: 2px;
    min-width: none;
  }
  #mainnav li a {
    padding: 2px;
    font-size: 0.8em;
  }
  #mainnav ul li ul {
    min-width: 100px;
    margin-top: 2px;
  }
  #mainnav {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 50px;
  }
  #foot {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  #foot a {
    padding: 4px;
  }
  #moreinfo {
    grid-template-areas:
    "public-domain-declare"
    "bottomlogo"
    "contact-videos";
    grid-template-columns: auto;
  }

  #public-domain-declare {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  #bottomlogo {
    margin-left: 0px;
    margin-top: 15px;
  }
}

/*mobile menu button responsive*/
@media only screen and (max-width: 480px) {
  #menubutton {
    display: block;
    z-index: 899;
  }

  #menu-btn {
    display: block;
    opacity: 0.01;
    z-index: 900;
  }

  #menu-btn:checked ~ #mainnav,
  #menu-btn:checked ~ #mainnav ul li ul {
    visibility: visible;
    opacity: 1;
  }
  #mainnav {
    padding: 0px;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    visibility: hidden;
    min-width: 160px;
    background: #c4e5f8;
    z-index: 200;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  #mainnav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: auto;
    background: none;
  }

  #mainnav li {
    color: #000;
    background:none;
    display: block;
    float: none;
    position: relative;
    transition-duration: 0s;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  #mainnav li a {
    color: #000;
    text-decoration: none;
    font-size: 1.8em;
    text-decoration: underline;
  }

  #mainnav ul li a:hover {
    background: rgb(231, 237, 248);
  }

  #mainnav li:hover,
  #mainnav li:focus-within {
    background: transparent;
    cursor: pointer;
  }

  #mainnav ul li ul {
    visibility: hidden;
    background: none;
    opacity: 1;
    min-width: auto;
    position: relative;
    left: 0;
    display: block;
    transition: none;
  }
  ul li ul li {
    clear: both;
    width: 100%;
    display: block;
    text-align: center;
  }

  #mainnav ul li ul a {
    font-size: 1.4em;
    text-decoration: none;
  }

  #mainnav ul li ul li:hover {
    background: rgb(231, 237, 248);
  }

  /*menu dropdown button*/
  #mainnav li > a:after {
    content: "";
  }
}
